body {
    padding: 0;
    margin: 0;
    font-family: Monospace;
}

.container {
    height: 100vh;
    display: grid;
    place-items: center;
}

.container h3 {
    margin-bottom: calc(100vh * -0.15);
    font-size: 20px;
    animation: fadeIn 4s ease-in-out;
}
.isi-container {
    width: calc(600px - 20px);
    height: 500px;
    padding: 10px;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-soal1,
.card-soal2,
.card-soal3,
.card-soal4 {
    flex-basis: calc(50% - 15px);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.219);
    height: calc(500px * 0.50 - 10px);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #293b8b;
    overflow: hidden;
    animation: fadeIn 4s ease-in-out;
}

.card-soal2,
.card-soal4 {
    margin-left: 20px;
}

.quis {
    color: #fff;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.img-soal {
    height: 100px;
}

.janda2 {
    position: fixed;
    bottom: 0;
    left: 0;
    animation: fadeIn 4s ease-in-out;
    z-index: -1;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.img-janda2 {
    height: 100vh;
}

@media (max-width: 768px) {
    .isi-container {
        width: calc(100% - 20px);
    }

    .card-soal1,
    .card-soal2,
    .card-soal3,
    .card-soal4 {
        height: calc(500px * 0.50 - 10px);
        margin-bottom: 10px;
        float: left;
        width: 40%;
    }

    .card-soal2,
    .card-soal4 {
        clear: both;
    }

    .img-janda2 {
        height: calc(100vh * 0.90);
    }
}

